@import '../../../styles/_variables.scss';

.header {
    background-color: $gray;
    margin-bottom: 1.4rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
    }

    &__logo {
        font-size: 1.4rem;
    }

    &__navigation {
        display: flex;
        gap: 1rem;
    }
}
