// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');
$roboto-mono: 'Roboto Mono', monospace;

// Colors
$white: #fff;
$black: #000;
$gray: #eee;
$dark-gray: rgb(180, 180, 180);
$red: rgba(255, 0, 0);

// Shadows
$shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
